@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: #f1f3f4 !important;
    font-family: 'Inter', sans-serif !important;
}

.modal-dialog {
    width: 100%;
    max-width: 1050px;
}

@media screen and (max-width : 768px) {
    .modal-dialog {
        max-width: 700px;
    }
}

@media screen and (max-width : 520px) {
    .modal-dialog {
        max-width: 300px;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #afafaf;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(79, 79, 79);
}

::-webkit-slider-thumb:hover {
    background: #afafaf;
}