@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    background: #f1f3f4 !important;
    font-family: 'Inter', sans-serif !important;
}

.sidebar-grid {
    gap: 20px;
    display: grid;
    grid-template-columns: 330px auto;
}

.modal-dialog {
    width: 100%;
    max-width: 1050px;
}

.main {
    margin-top: 80px;
    margin-right: 25px;
}

.offcanvas {
    width: 280px;
    border: none;
    padding: 10px;
    background: #FF919D;
}

.offcanvas .offcanvas-header div {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.offcanvas .offcanvas-header div span {
    color: #5a9e0b;
}

.offcanvas-header .btn-close {
    padding: 0px;
}

.offcanvas .offcanvas-body .sidebar-menu {
    gap: 25px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

.sidebar-menu .sidebar-menu-item {
    gap: 15px;
    height: 40px;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    border-radius: 10px;
    transition: all 300ms ease;
}

.sidebar-menu-item svg {
    font-size: 22px;
}

.sidebar-menu-item span {
    text-transform: capitalize;
}

.sidebar-menu .active-item {
    margin-left: 0;
    background: #afafaf;
}

.sidebar-menu .active-item::before {
    width: 7px;
    content: "";
    height: 100%;
    background: #5a9e0b;
    margin-right: calc(15px - 7px);
}

@media screen and (max-width : 1200px) {
    .sidebar-grid {
        grid-template-columns: 1fr;
    }

    .main {
        padding: 0 30px;
    }
}

@media screen and (max-width : 768px) {
    .modal-dialog {
        max-width: 700px;
    }

    .main {
        margin-right: 0px;
    }
}

@media screen and (max-width : 520px) {
    .modal-dialog {
        max-width: 300px;
    }

    .main {
        padding: 0 15px;
        margin-top: 40px;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 5px #afafaf;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(79, 79, 79);
}

::-webkit-slider-thumb:hover {
    background: #afafaf;
}