.Tabl {
    gap: 15px;
    width: 96%;
    padding: 1rem;
    display: flex;
    margin: 3rem 0;
    border-radius: 0.7rem;
    flex-direction: column;
    background: var(--mainWhite);
}

.Table-container {
    margin: 1rem 0;
}

.table>thead>tr>th {
    letter-spacing: var(--mainSpacing);
}

.table td, th {
    border: none;
}

.table button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--mainWhite);
    background: var(--primaryColor);
    letter-spacing: var(--mainSpacing);
}

@media screen and (max-width: 1200px) {
    .Table {
        width: 170%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .Table {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23rem;
    }
}