.Card {
    flex: 1;
    height: 8rem;
    display: flex;
    padding: 2rem;
    cursor: pointer;
    position: relative;
    align-items: center;
    border-radius: 0.7rem;
    background: var(--mainWhite);
}

.Card:hover {
    box-shadow: var(--lightShadow);
}

.detail {
    flex: 1 1;
    /* gap: 1rem; */
    display: flex;
    flex-direction: column;
}

.detail>span:nth-child(1) {
    font-size: 25px;
    font-weight: var(--mainWeight);
}

.detail>span:nth-child(2) {
    color: var(--darkGrey);
}

.icon {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}