.admin-container {
    margin: 0;
    gap: 20px;
    padding: 0;
    height: 100vh;
    display: grid;
    overflow: hidden;
    grid-template-columns: 20rem auto;
    /* grid-template-columns: 1fr 1fr; */
}