.navbar {
    height: 5rem;
    opacity: 0.9;
    background: var(--bgColor);
    border-bottom: 2px solid var(--mainBorderColor);
}

.navbar a {
    padding: 0.5rem 1.2rem;
    letter-spacing: var(--mainSpacing);
}

.logo {
    width: 5rem;
    object-fit: cover;
    filter: invert(5%);
}

.logo-text {
    position: relative;
    top: 0.3rem;
    font-size: 1.6rem;
    color: var(--primaryColor);
    font-weight: var(--mainWeight);
    text-shadow: var(--textShadow);
    letter-spacing: var(--mainSpacing);
}

.navbar-nav {
    margin: 0.3rem 0 0 5rem;
}

.navbar .active, a:hover {
    color: var(--primaryColor) !important;
}

.modules {
    margin: 0.3rem 0rem 0 0;
}

/* .navbar-collapse button {
    border: none;
    background: var(--primaryColor);
    letter-spacing: var(--mainSpacing);
} */