.navbar {
    height: 5rem;
    opacity: 0.9;
    background: rgb(8 10 10 / 85%);
    border-bottom: 2px solid rgb(79, 79, 79);
}

.navbar a {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.5rem 1.2rem;
}

.logo {
    width: 5rem;
    object-fit: cover;
    filter: invert(5%);
}

.logo-text {
    position: relative;
    top: 0.3rem;
    color: #79b91c;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-shadow: 0 0 0.57rem #1d0505;
}

.navbar-nav {
    margin: 0.3rem 0 0 5rem;
}

.navbar .active, a:hover {
    color: #79b91c !important;
}

.modules {
    margin: 0.3rem -5rem 0 0;
}

.signOutBtn {
    border: none;
    letter-spacing: 1px;
    background: #79b91c;
}