.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 400px;
    color: var(--darkGrey);
    border-top: 2px solid var(--mainBorderColor);
}

.upper-footer {
    height: 350px;
    padding: 70px;
    font-size: 14px;
    background: var(--bgColor);
}

.upper-footer h6 {
    font-size: 14px;
    padding-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px solid var(--mainBorderColor);
}

.upper-footer ul {
    padding: 0;
    margin-top: 30px;
    list-style: none;
}

.upper-footer ul li {
    margin-bottom: 20px;
}

.upper-footer ul li a {
    color: var(--darkGrey) !important;
}

.upper-footer .address {
    margin-top: 30px;
}

.upper-footer .address p {
    margin-bottom: 20px;
}

.lower-footer {
    width: 100%;
    height: 50px;
    background-color: #1c1c1c;
}

.lower-footer p {
    margin: 0;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}