/* *********Top********* */
.top {
    padding: 60px 0;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.title h1 {
    color: #222222;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
}

.title .underline {
    width: 10%;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: #222222;
}

.title p {
    color: #222222d1;
    font-size: 16px;
    letter-spacing: 1px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card .card-body {
    padding: 0 30px;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 50px;
}

.card-body .card-title {
    font-size: 17px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.card-body p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}

/* **********System Work********** */
.system-work {
    padding: 60px 0;
    padding-bottom: 500px;
}

.system-work img {
    filter: invert(5%);
}